.seating-chart{
    display: grid;
    grid-template-columns: repeat(3,70px);
    gap: 10px;
    justify-content: center;
}
.seat{
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border:1px solid #ccc;
    cursor:pointer ;

}


.booked{
    background-color: red;
    cursor: not-allowed;
    color:white;
}
.available{
    background-color: #7FFF00;/*light green */
}

.select-button{
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #007BFF; /* BLUE */
    color: white;
    border:none;
    cursor: pointer;

}